<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HW2_A00817021_masterMind.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D03826B201D0C1200B76A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D03827F201D0C1200B76A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D03828A201D0C1300B76A71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
