<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>act_TableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D6BF79A20238A810075F9E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6BF7AE20238A810075F9E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6BF7B920238A810075F9E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
