<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tarea3PickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D6C9E38204DFE9A00170B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6C9E4E204DFE9B00170B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D6C9E59204DFE9B00170B32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
